@font-face {
    font-family: Ebrima;
    src: url("../fonts/ebrima.ttf");
    letter-spacing: 1px;
}
@font-face {
    font-family: Myriad;
    src: url("../fonts/MyriadPro-Regular.otf");
}

/*Mobile first*/

* {
  box-sizing: border-box;
  font-family: "Ebrima", sans-serif;
  text-decoration: none;
  max-width: 100vw;
}
.container {
  position: relative;
  width: 100%;
}
.row::after {
  clear: both;
  content: " ";
  display: block;
}
.element {
  position: absolute;
}
.bold {
  font-weight: bold;
}
.superBold {
  font-weight: bold;
  font-size: 1.2em;
}
.lightBlue {
  background-color: #118ded;
}
.openMenu {
  padding: 25%;
  display: none;
  color: black;
  background-color: white;
  font-size: 6rem;
  width: 80vw;
  top: 0;
  right: 0;
}
.languagePl {
  color: #118ded;
}
.mainMenu {
  position: fixed;
  right: 2%;
  top: 10%;
  z-index: 10;
}
.mainMenu:hover .openMenu {
  display: block;
}
.headerVerticalLine {
  height: 20%;
  border-left: 1px solid white;
  right: 17.5%;
  top: 80%;
}
.headerHorizontalLine {
  border-bottom: 1px solid white;
  width: 49%;
  top: 73.7%;
}
.white {
  color: white;
}
aside.container {
  height: 100vh;
}
.mainHeadlineImg {
  right: 6%;
  width: 34%;
  top: 2%;
}
.mainHeaderImg {
  width: 100%;
  top: 46%;
}
.arrowImg {
  right: 13%;
  width: 10%;
  top: 71%;
}
.mainHeaderRight {
  height: 100vh;
  background-image: url("../img/header_image.jpg");
  background-position: right;
  background-size: cover;
}
.headerText {
  top: 45%;
  right: 11%;
  text-align: right;
  font-size: 3rem;
}
.headerTextBig {
  font-weight: bold;
  font-size: 3.7rem;
  top: 63%;
  right: 11%;
  text-align: right;
}

/*First section*/
.aboutUsFirstMain {
  height: 100vh;
  float: left;
  width: 79%;
  background-color: #171f3e;
}
.aboutUsFirstAside {
  float: left;
  width: 21%;
  height: 100vh;
}
.sectionHeader {
  font-size: 5rem;
  top: 28%;
  left: 23%;
  font-weight: bold;
}
.sectionHeader::before {
  content: "";
  position: absolute;
  left: -88px;
  top: 33px;
  height: 50px;
  width: 20px;
  background-color: #118ded;
}
.circles {
  top: 24%;
  left: 0.8%;
}
.numberCircle {
  position: absolute;
  top: 50%;
  left: 50%;

  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.circle {
  width: 20px;
  height: 20px;
  margin: 16px;
  margin-left: 30px;
  border: 1px solid #c5c5c5;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.bigCircle {
  position: relative;
  width: 80px;
  height: 80px;
  border: 2px solid #118ded;
  color: #118ded;
  font-size: 2rem;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.aboutUsSecond, .aboutUsThird, .aboutUsForth, .aboutUsFifth{
  height: auto;
}
.sectionImg {
  width: 100%;
}
.wrapper {
  display: table;
  border-collapse:separate;
}
.changeOrder {
  display: table-footer-group;
}
.orderChange {
  display: table-header-group;
}
.paragraph {
  text-align: left;
  font-size: 2.2rem;
  padding: 82px 105px;
  line-height: 3.3rem;
  height: 100%;
}
.footer {
  padding: 30px;
  background-color: #118ded;
  text-align: center;
}
.footerImg {
  width: 20%;
}

/*Second section*/

.teamHeader {
  background-color: #171f3e;
}
.teamContent {
  height: 100vh;
}
.teamHeaderParagraph {
  top: 40%;
  color: #118ded;
  font-size: 3rem;
  padding: 105px;
}
.teamParagraph {
  top: 40%;
  color: #171f3e;
  font-size: 3rem;
  padding: 105px;
}
.personImg {
  width: 40%;
}
.teamSecond {
  text-align: center;
}
.teamLine {
  display: none;
}
.teamText {
  padding: 105px;
  font-size: 3rem;
}

/*Third section*/
.competencesHeader {
  height: 100vh;
  text-align: center;
}
.competencesRight {
  background-color: #171f3e;
  float: right;
  width: 100%;
}
.competencesHeaderImg {
  margin: 0 auto;
  margin-top: 110%;
  width: 90%;
}
.list {
  font-size: 2.2rem;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  color: #171f3e;
  width: 45%;
  margin-top: 7.5%;
  margin-right: 1.7%;
}
.list li:last-of-type::before {
  float: left;
  height: 120px;
}
.list li::before {
  content: "•";
  color: #118ded;
  padding-right: 10px;
}
.competencesLists {
  text-align: center;
}
.competenceMain {
  text-align: center;
}
.arrows {
  text-align: center;
}
.arrow {
  position: relative;
  margin: 10%;
  font-size: 6rem;
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 3px solid #515786;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.arrowActive {
  color: #148eed;
  border-color: #148eed;
}
.arrowContent {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.competencesSecond {
  padding: 0 105px;
  border-left: 5px solid #1a2240;
  border-right: 5px solid #1a2240;
}
.quotation {
  color: #8b8f9e;
  font-style: italic;
  font-family: Myriad;
}
.readMore {
  font-size: 3rem;
  font-weight: bold;
  float: right;
}
.imagesContainer {
  width: 80%;
  position: absolute;
  right: 56px;
  top: 150px;
}
.imageContainer {
  width: 300px;
  display: inline-block;
  margin-right: 18px;
  vertical-align: top;
}

/*Forth section*/

.adminImg {
  width: 100%;
  bottom: -100px;
}
.imgSignature {
  display: block;
  font-size: 3rem;
}
h3.imgSignature {
  font-size: 3.3rem;
  line-height: 3.3rem;
  margin-bottom: 5px;
}
.administration {
  margin: 94px auto;
  height: 62vh;
}
.adminCircles {
  top: 0;
}
.administrationHeadline {
  position: absolute;
  top: 0;
}
.adminFooterImg {
  width: 100%;
  height: auto;
}
.adminParagraph {
  width: 65%;
  top: 32%;
  left: 4%;
  font-size: 2.5rem;
  width: 80%;
  position: absolute;
}
.seeCv {
  position: absolute;
  bottom: 5%;
  right: 14%;
  font-size: 2.4rem;
}
.playBtn {
  position: absolute;
  top: -35px;
  left: 170px;
  width: 80%;
}
.adminWorker {
  font-size: 3rem;
  position: absolute;
  top: 19%;
  left: 4%;
}

/*Fifth section*/

.carrier {
  background-color: #171f3e;
  height: 90vh;
}
.carrierHeader {
  height: 100%;
}
.carrierText {
  margin: 135px;
  font-size: 3rem;
}
.carrierHeadline {
  top: 45%;
  color: #118ded;
  font-weight: bold;
  font-size: 3.5rem;
}
.carrierParagraph {
  top: 60%;
}
.carrierHeaderImg {
  height: 70vh;
  background-image: url("../img/section4_img1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.carrierJob {
  top: 40%;
  font-weight: bold;
  font-size: 3.5rem;
}
.carrierJobDesc {
  top: 60%;
}
.carrierSecond {
  margin: 0 auto;
  margin-top: 70vh;
  height: 75vh;
  padding: 105px;
}
.requirementsVerticalLine {
  border-left: 1px solid #118ded;
  height: 60%;
  position: absolute;
  left: 5%;
}
.requirementsHeader {
  font-size: 3rem;
  font-weight: bold;
}
.apply {
  margin-top: 90px;
  font-size: 3rem;
  width: 100%;
  padding: 15px;
  background-color: white;
  border: 1px solid black;
}

/*Sixth section*/

.contact {
  background-color: #171f3e;
  height: 100vh;
}
.contactHeadline {
  font-weight: bold;
  font-size: 3rem;
  color: #63cae8;
  top: 50%;
  left: 20%;
}
.contactParagraph {
  font-size: 2.5rem;
  top: 60%;
  left: 20%;
}
.contactImg {
  width: 50%;
  top: 80%;
  left: 20%;
}
.contactSecond {
  height: 90vh;
  background-image: url("../img/section5_img1.png");
  padding-top: 20%;
}
.contactForm {
  width: 90%;
  margin: 0 auto;
  padding: 60px;
  background-color: white;
}
.contactTextarea {
  width: 100%;
  display: inline-block;
  resize: none;
  height: 350px;
  margin-top: 50px;
  padding: 10px;
  font-size: 4rem;
}
.contactForm > input {
  padding: 10px;
  margin-top: 50px;
  width: 100%;
  font-size: 4rem;
  display: inline-block;
}
.contactBtn {
  width: 40%;
  padding: 40px;
  position: absolute;
  bottom: -250px;
  left: 0;
  background-color: #118ded;
}
.copyrights {
  display: inline-block;
  color: gray;
  text-align: center;
  width: 100%;
  font-size: 2.5rem;
  padding-bottom: 30px;
}
.copyrightsFooter {
  margin-top: -10px;
  border-top: 1px solid #454c65;
  background-color: #171f3e;
  width: 100%;
}


@media screen and (min-width: 544px){
  .mainMenu {
    position: static;
  }
  .mobile {
    display: none;
  }
  .wrapper {
    display: block;
  }
  .changeOrder {
    display: block;
  }
  .orderChange {
    display: block;
  }
  .openMenu {
    position: absolute;
    left: 30.5%;
    top: 3%;
    width: auto;
    display: block;
    background-color: inherit;
    font-size: 0.8rem;
    padding: 0;
  }
  .openMenu > a {
    margin-right: 1.3rem;
    display: inline-block;
    color: #516599;
  }
  .openMenu a:first-of-type, a:last-of-type{
    color: white;
  }
  .language {
    font-weight: bold;
  }
  .languagePl {
    margin-left: 0.9rem;
    margin-right: -0.9rem;
  }
  .menuHorizontalLine {
    border-bottom: 1px solid #516599;
    right: 0;
    width: 69.5%;
    top: 5.4%;
  }
  aside.container {
    height: 97.5vh;
    float: left;
    width: 27%;
  }
  .mainHeaderRight {
    height: 97.5vh;
    float: left;
    width: 73%;
  }
  .headerText {
    top: 50%;
    right: 38%;
    font-size: 1.55rem;
    line-height: 1.9rem;
  }
  .headerTextBig {
    font-size: 1.7rem;
    top: 68%;
    right: 38%;
    letter-spacing: 2px;
  }

  .aboutUs {
    margin: 0 auto;
    width: 925px;
  }
  .aboutUsFirst {
    width: 35%;
    height: auto;
    float: left;
  }
  .aboutUsSecond, .aboutUsThird {
    width: 32.5%;
    float: left;
  }
  .aboutUsThird {
    margin-top: 156px;
  }
  .sectionHeader {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  .aboutUsFirstMain {
    height: 475px;
  }
  .paragraph {
    font-size: 1rem;
    padding: 24px 30px;
    line-height: 1.2rem;
  }
  .aboutUsArticleLast {
    margin-bottom: 40px;
  }
  .aboutUsFirstAside {
    height: 200px;
  }
  .circles {
    top: 17%;
    left: 2.8%;
  }
  .circle {
    width: 8px;
    height: 8px;
    margin: 4px;
    margin-left: 10px;
  }
  .numberCircle {
    font-size: 1rem;
  }
  .bigCircle {
    position: relative;
    width: 30px;
    height: 30px;
  }
  .sectionHeader::before {
    left: -29px;
    top: 9px;
    height: 17px;
    width: 6px;
  }
  .paragraph {
    text-align: justify;
  }
  .aboutUsFifth {
    width: 32.5%;
    float: left;
  }
  .aboutUsForth {
    text-align: right;
    width: 67.5%;
    float: left;
  }
  .sectionLongImg {
    width: 84.5%;
  }
  .aboutUsParagraph {
    float: right;
    text-align: justify;
    width: 340px;
    margin: 21px 85px;
  }
  .footer {
    display: block;
    width: 73%;
    float: right;
    text-align: left;
    padding: 60px 30px 56px 30px;
  }
  .footerImg {
    display: inline-block;
    width: 6%;
  }
  .footerText {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    padding: 0;
    letter-spacing: 0.8px;
    margin: 23px 28px;
  }

  .teamHeader {
    width: 60%;
    float: left;
  }
  .teamHeadline {
    top: 6.25%;
  }
  .teamSecond {
    width: 40%;
    float: left;
    text-align: left;
    height: 434px;
  }
  .teamContent {
    float: right;
    height: 434px;
  }
  .teamContainer {
    width: 67%;
  }
  .teamCircles {
    top: 3%;
    left: 4.4%;
  }
  .teamText {
    font-size: 1.2rem;
    line-height: 1.45rem;
    letter-spacing: 0.6px;
  }
  .teamHeaderParagraph {
    padding: 14.5%;
    top: 15%;
  }
  .teamParagraph {
    padding: 50px;
  }
  .personImg {
    width: 32%;
    min-width: 150px;
    margin-left: -50px;
    position: absolute;
    bottom: 0;
  }
  .teamThird {
    margin-top: 30px;
    float: left;
    width: 60%;
  }
  .teamImg {
    float: left;
    width: 40%;
  }
  .teamDesc {
    float: right;
    width: 548px;
    padding: 2% 20% 0 0;
  }
  .teamFooter {
    float: left;
    width: 79%;
    height: 173px;
  }
  .teamFooterElement {
    width: 534px;
    float: right;
    line-height: 1.7rem;
    margin-top: -19px;
    margin-right: 28px;
  }
  .teamFooterElementImg {
    margin-top: -25px;
    margin-right: 10px;
    float: right;
    width: 8%;
  }
  .teamLine {
    display: block;
    position: absolute;
    border-bottom: 1px solid #171f3e;
    width: 50%;
    top: 14.5%;
    right: 0;
  }

  .competencesMain {
    margin: 0 auto;
    width: 925px;
  }
  .competencesHeader {
    width: 34%;
    float: left;
    height: auto;
  }
  .competencesRight {
    height: 476px;
    width: 76%;
  }
  .competencesHeadline {
    top: 9.5%;
    left: 41%;
  }
  .competencesCircles {
    top: 4.5%;
    left: 3%;
  }
  .competencesHeaderImg {
    width: 122%;
    position: absolute;
    bottom: -14px;
    right: -183px;
  }
  .list {
    font-size: 1rem;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin-top: 7.5%;
    margin-right: 1.7%;
  }
  .competencesLists {
    text-align: right;
  }
  .competencesSecond {
    float: right;
    width: 850px;
    height: 202px;
    margin-top: 14px;
  }
  .logoImg {
    width: 50%;
  }
  .arrows {
    text-align: right;
  }
  .arrow {
    text-align: center;
    font-size: 1rem;
    width: 24px;
    height: 24px;
    margin: 0;
    margin-right: 18px;
    border-width: 1px;
  }
  .arrowActive {
    margin-right: 76px;
  }
  .logoImg {
    width: 8%;
    position: absolute;
    top: 39%;
    left: 15%;
    display: inline-block;
  }
  .quotation {
    font-size: 1.1rem;
    font-weight: 100;
    width: 57%;
    position: absolute;
    right: 5%;
    top: 4%;
  }
  .competencesText {
    display: inline-block;
  }
  .readMore {
    position: absolute;
    font-size: 0.9rem;
    top: 84%;
    right: 8%;
  }


  .administration {
    width: 930px;
    margin: 94px auto;
    height: 212px;
  }
  .adminCircles {
    left: 1%;
    top: 0;
    margin-top: -35px;
  }
  .competencesHeadline {
    position: absolute;
    left: 40%;
    top: 9.5%;
  }
  .administrationHeadline {
    left: 14%;
    top: 1.5%;
  }
  .imgSignature {
    font-size: 1rem;
  }
  h3.imgSignature {
    line-height: 1rem;
    font-size: 1.1rem;
  }
  .imagesContainer {
    width: 550px;
    top: 95px;
  }
  .imageContainer {
    width: 115px;
  }
  .adminThirdLeft {
    float: left;
    width: 54.5%;
  }
  .adminThirdRight {
    float: left;
    width: 45.5%;
  }
  .adminFooterImg {
    height: 385px;
  }
  .adminContainer {
    width: 950px;
    margin: 0 auto;
  }
  .adminFooter {
    float: right;
    width: 850px;
    margin-right: 10px;
  }
  .adminVerticalLine {
    position: absolute;
    border-left: 2px solid #2295ee;
    height: 292px;
    right: -29px;
    top: 0;
    z-index: 9;
  }
  .adminHorizontalLine {
    position: absolute;
    border-bottom: 2px solid #2295ee;
    width: 480px;
    margin-top: 61px;
    z-index: 9;
  }
  .adminParagraph {
    font-size: 1rem;
    width: 70%;
  }
  .seeCv {
    font-size: 0.9rem;
  }
  .playBtn {
    width: auto;
    top: -12px;
    left: 64px;
  }
  .adminWorker {
    font-size: 1.4rem;
  }

  .carrier {
    float: left;
    margin-top: -5px;
    height: 430px;
    width: 60.2%;
    background-color: #171f3e;
  }
  .carrierSectionHeader {
    top: 6%;
    left: 41%;
  }
  .carrierCircles {
    top: -6%;
    left: 1%;
  }
  .carrierHeader {
    height: 400px;
    float: right;
    margin-right: 33.5%;
    width: 300px;
  }
  .carrierText {
    margin: 0px;
    font-size: 1.15rem;
    left: 23%;
  }

  .carrierHeadline {
    top: 38%;
    color: #118ded;
    font-weight: bold;
    font-size: 1.4rem;
  }
  .carrierParagraph {
    top: 50%;
  }
  .carrierHeaderImg {
    position: absolute;
    left: 68%;
    top: 21%;
    width: 64%;
    height: 340px;
    background-image: url("../img/section4_img1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .carrierJob {
    top: 62%;
    font-weight: bold;
    font-size: 2rem;
    left: 9%;
  }
  .carrierJobDesc {
    top: 79%;
    left: 9%;
  }

  .carrierSecond {
    padding: 0;
    margin: 32px auto;
    width: 574px;
    height: auto;
  }
  .requirementsVerticalLine {
    border-left: 1px solid #118ded;
    height: 308px;
    position: absolute;
    left: -4.5%;
    top: 7px;
  }
  .requirementsHeader {
    font-size: 1rem;
    margin-bottom: -4.5%;
  }
  .apply {
    font-size: 1rem;
    width: 225px;
    padding: 5px;
    position: absolute;
    right: -8.5%;
    top: 160px;
  }
  .carrierVerticaLine {
    height: 8px;
    width: 49%;
    position: absolute;
    right: 0;
    background-color: #148eed;
  }
  .carrierArrows {
    position: absolute;
    top: 36px;
    right: -21.5%;
  }

  .contact {
    height: 632px;
    width: 41%;
    float: left;
    text-align: right;
  }
  .contactLeft {
    position: relative;
    width: 319px;
    height: 632px;
    display: inline-block;
    text-align: right;
  }
  .contactHeadline {
    font-size: 1rem;
    top: 36.3%;
    left: 22%;
  }
  .contactCircles {
    top: 1.5%;
    left: 2.5%;
  }
  .contactHeader {
    top: 11%;
    left: 40%;
  }
  .contactParagraph {
    text-align: left;
    font-size: 0.8rem;
    top: 43.5%;
    left: 22%;
  }
  .contactImg {
    width: 43%;
    top: 89.5%;
    left: 23%;
  }
  .contactHorizontalLine {
    border-top: 1px solid #118ded;
    width: 296px;
    position: absolute;
    bottom: 25%;
    right: 0;
  }
  .contactVerticalLine {
    border-right: 1px solid #118ded;
    height: 662px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .contactSecond {
    height: 632px;
    width: 59%;
    float: left;
    padding: 20px;
  }
  .contactForm {
    width: 320px;
    position: absolute;
    top: 18%;
    left: 6%;
    padding: 18px 26px 38px 26px;
  }
  .contactTextarea {
    height: 131px;
    margin-top: 18px;
    padding: 6px;
    font-size: 0.7rem;
  }
  .contactForm > input {
    padding: 6px;
    margin-top: 20px;
    font-size: 0.7rem;
  }
  input.contactBtn {
    width: 47%;
    padding: 10px;
    bottom: -16px;
    left: 148px;
    border: 0;
  }
  .copyrights {
    display: inline-block;
    text-align: right;
    padding: 0;
    padding-right: 20.8%;
    font-size: 0.63rem;
    line-height: 30px;
  }
  .copyrightsFooter {
    border-top: 1px solid #118ded;
    background-color: #171f3e;
    margin-top: -2px;
  }
}

@media (min-width: 544px) and (max-width: 1200px){
  .teamThird {
    margin-top: 0;
  }
}
